<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Resource Control</h5>
                    <h6 class="card-subtitle mb-2 text-body-primary">Controle de Recursos</h6>
                    <p class="card-text">Cadastre, remova ou encontre as informações sobre cada funcionário.</p>
                    <a routerLink="resource-control" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Forecast Revenue</h5>
                    <h6 class="card-subtitle mb-2 text-body-primary">Previsão de Renda</h6>
                    <p class="card-text">Cadastre, remova ou encontre a previsão de renda sobre cada funcionário, de acordo com o período.</p>
                    <a routerLink="forecast-revenue" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Forecast Claim</h5>
                    <h6 class="card-subtitle mb-2 text-body-primary">Previsão de Custos</h6>
                    <p class="card-text">Cadastre, remova ou encontre a previsão de custo sobre cada funcionário, de acordo com o período.</p>
                    <a routerLink="forecast-claim" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
    </div>
</div>